body.dark {
  background-color: #121212;
  color: white;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 9999;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  padding-bottom: env(safe-area-inset-bottom);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 14px;
}

nav ul li a:hover {
  background-color: #111;
}

nav li img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}
nav:hover {
  background-color: gray;
}

@media (max-width: 600px) {
  nav ul li a {
    font-size: 12px;
    padding: 8px 0;
  }

  nav li img {
    width: 20px;
    height: 20px;
  }
}
